<!DOCTYPE html>
<html>
    <head>
        <h1>Create Account</h1>
    </head>
        <body>
            
            <form>
              <label for="username">Create Username:</label><br>
              <input type="text" id="fname" name="fname"><br>
              <label for="password">Create Password:</label><br>
              <p>Password must have a minimum of 8 characters with at least one number and one special character</p>
              <input type="text" id="lname" name="lname">
            </form>
            <button onclick="window.location.href='http://127.0.0.1:5000/sign_in';">
      Create Account  
            </button>

        </body>
</html>
    
