<!DOCTYPE html>
<html>
    <head>
        <h1>Sign In</h1>
    </head>
        <body>
            <p>New User?</p>
            <button onclick="window.location.href='http://127.0.0.1:5000/create_account';">
      Create Account 
            </button>
                <form>
                    <label for="username">Username:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="password">Password:</label><br>
                    <input type="text" id="lname" name="lname">
                </form>
            <button onclick="window.location.href='http://127.0.0.1:5000/club_home';">
      Sign In  
            </button>
            
            

        </body>
</html>
    
